.job-large-cont{
     width: 100%;
     background-color: black;
     display: flex;
     padding: 30px;
}
.filter-section-cont{
     width: 28%;
     margin-left: 40px;
}
.display-all-jobs-cont{
     width: 72%;
     margin-left: 30px;
     
}
.search-bar-cont{
     display: flex;
     flex-direction: row;
}
.my-search{
     background-color: transparent;
     width: 400px;
     height: 40px;
     border: 1px solid aliceblue;
     border-right: none;
     border-radius: 5px 0 0 5px;
     padding: 15px;
}
.my-search:focus{
     background-color: transparent;
     outline: none;
}
.search-btn{
     height: 40px;
     width: 70px;
     background-color: rgb(38, 37, 37);
     border: 1px solid aliceblue;
     border-left: none;
     border-radius: 0 5px 5px 0;
}
.search-btn:focus{
     outline: none;
}
.search-icon{
     color: white;
     font-size: 25px;
}
.job-small-cont{
     display: none;
}
.alljobs-ul-cont{
     /* padding: 20px; */
     list-style: none;
}


@media (max-width:768px) {
     .job-large-cont{
          display: none;

     }
     .job-small-cont{
          display: block;
          width: 100%;
          background-color: black;
          /* padding: 10px; */
     }
     .filter-section-cont{
          width: 100%;
          margin-left: 0;
          padding: 20px;
          
          
     }
     .display-all-jobs-cont{
          width: 100%;
          margin-left: 0;
          
     }
     .alljobs-ul-cont{
          padding: 20px;
          list-style: none;
     }
     .search-bar-cont{
          padding-top: 30px;
          padding: 20px;
          padding-bottom: 0;
     }
     
}
   